@charset "UTF-8";
body {
    margin: 0;
    padding : 0;
    background: skyblue;
}
header {
    width: 100%;
    height: 50px;
}
#main {
    width: 100%;
    height: 1136px;
    text-align: center;
}
#main h1 {
    font-size: 30px;
    font-weight: 700;
}
#main hr {
    margin-bottom: 30px;
}
#main .member_box {
    width: 600px;
    height: 720px;
    background: white;
    border: 2px solid black;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px black;
}
#main .member_box .hint {
    width: 220px;
    float: left;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-left: 50px;
}
#main .member_box .su {
    clear: both;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"] {
    width: 270px;
    height: 40px;
    margin-bottom: 50px;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 20px;
    font-weight: 700;
    float: left;
}
input[type="password"] {
    width: 270px;
    height: 40px;
    margin-bottom: 50px;
    border: 0px;
    border-bottom: solid 1px black;
    font-size: 20px;
    font-weight: 700;
    float: left;
}
input[type="submit"] {
    width: 400px;
    height: 50px;
    border: 0px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background:lightblue;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:skyblue;
}
footer {
    width: 100%;
    height: 50px;
}